In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
dados1 = pd.read_csv("dados1.csv")

In [4]:
dados1['data'] = pd.to_datetime(dados1['data'])

In [5]:
dados1['data'].sort_values()

268   2019-08-06
494   2019-08-12
926   2019-08-13
648   2019-08-15
29    2019-08-16
         ...
822          NaT
859          NaT
909          NaT
978          NaT
986          NaT
Name: data, Length: 1000, dtype: datetime64[ns]

In [6]:
dados1.describe()

                id        valor
count  1000.000000   963.000000
mean    500.500000   503.228453
std     288.819436   568.154416
min       1.000000  -500.000000
25%     250.750000    31.000000
50%     500.500000   521.000000
75%     750.250000   966.500000
max    1000.000000  1500.000000

In [7]:
dados1.shape

(1000, 3)

In [8]:
dados1.sort_values('data')

      id       data   valor
268  269 2019-08-06   969.0
494  495 2019-08-12   817.0
926  927 2019-08-13   354.0
648  649 2019-08-15   441.0
29    30 2019-08-16  1488.0
..   ...        ...     ...
822  823        NaT    60.0
859  860        NaT   821.0
909  910        NaT   568.0
978  979        NaT   834.0
986  987        NaT   771.0

[1000 rows x 3 columns]

In [9]:
dados2 = pd.read_csv('dados2.csv')

In [10]:
dados1.isnull().sum()

id        0
data     26
valor    37
dtype: int64

In [11]:
dados1.shape

(1000, 3)

In [12]:
dados = pd.concat([dados1, dados2])

In [13]:
dados['data'] = dados['data'].apply(pd.to_datetime)

In [14]:
dados

       id       data   valor
0       1 2021-11-23   923.0
1       2 2021-02-15   309.0
2       3 2021-05-08   702.0
3       4 2019-09-26  1088.0
4       5 2021-04-06  1022.0
..    ...        ...     ...
995   996 2020-11-26  1242.0
996   997 2020-02-19  -307.0
997   998 2020-01-05   480.0
998   999 2020-03-24   348.0
999  1000 2020-12-03   998.0

[2000 rows x 3 columns]

In [15]:
dados.isnull().sum()

id        0
data     48
valor    80
dtype: int64

In [16]:
dados.dropna(inplace=True)

In [17]:
dados.isnull().sum()

id       0
data     0
valor    0
dtype: int64

In [18]:
dados = dados.sort_values('data')

In [19]:
tam_array = int(np.around(dados.shape[0]/50))

In [20]:
medias = np.zeros(tam_array)
mediana = np.zeros(tam_array)
desvio = np.zeros(tam_array)
moda = np.zeros(tam_array)
max = np.zeros(tam_array)
min = np.zeros(tam_array)
data_inicial = np.empty(tam_array, dtype='object')
data_final = np.empty(tam_array, dtype='object')

In [21]:
#extraindo as informacoes em blocos de 50
j = 0
k = 0
for i in range(50, dados.shape[0], 50):
    medias[k] = dados['valor'].iloc[j:i].mean()
    mediana[k] = dados['valor'].iloc[j:i].median()
    desvio[k] = dados['valor'].iloc[j:i].std()
    moda[k] = stats.mode(dados['valor'].iloc[j:i])[0]
    max[k] = dados['valor'].iloc[j:i].max()
    min[k] = dados['valor'].iloc[j:i].min()
    k = k + 1
    j += 50

In [22]:
#Adicionando as medias no dataframe dados
# j = 0
# k= 0 
# for i in range(50, dados.shape[0], 50):
#   dados['media'][j:i] = medias[k]
#   k += 1
#   j += 50

In [23]:
dados[49:51]

      id       data   valor
989  990 2019-09-01  1024.0
578  579 2019-09-01  -243.0

In [24]:
dados[0:50].iloc[0]['data'], dados[0:50].iloc[-1]['data']

(Timestamp('2019-08-06 00:00:00'), Timestamp('2019-09-01 00:00:00'))

In [25]:
j = 0
k = 0
for i in range(50, dados.shape[0], 50):
  data_inicial[k] = str(dados[j:i].iloc[0]['data'])
  k += 1
  j += 50

In [26]:
j = 0
k = 0
for i in range(50, dados.shape[0], 50):
  data_final[k] = str(dados[j:i+1].iloc[-1]['data'])
  k += 1
  j += 50

In [31]:
lista_nomes = []
for n in range(0, tam_array):
    lista_nomes.append(f"Bloco {n+1}")
print(lista_nomes)

['Bloco 1', 'Bloco 2', 'Bloco 3', 'Bloco 4', 'Bloco 5', 'Bloco 6', 'Bloco 7', 'Bloco 8', 'Bloco 9', 'Bloco 10', 'Bloco 11', 'Bloco 12', 'Bloco 13', 'Bloco 14', 'Bloco 15', 'Bloco 16', 'Bloco 17', 'Bloco 18', 'Bloco 19', 'Bloco 20', 'Bloco 21', 'Bloco 22', 'Bloco 23', 'Bloco 24', 'Bloco 25', 'Bloco 26', 'Bloco 27', 'Bloco 28', 'Bloco 29', 'Bloco 30', 'Bloco 31', 'Bloco 32', 'Bloco 33', 'Bloco 34', 'Bloco 35', 'Bloco 36', 'Bloco 37']

In [35]:
dados_finais = pd.DataFrame(list(zip(lista_nomes, medias, mediana, desvio, moda, max, min, data_inicial, data_final)), 
                          columns=["Numero do bloco","MÃ©dias", "Mediana", "Desvio", "Moda", "Valor MÃ¡ximo", "Valor MÃ­nimo", "Data Inicial", "Data Final"])

In [36]:
dados_finais

,Numero do bloco,MÃ©dias,Mediana,Desvio,Moda,Valor MÃ¡ximo,Valor MÃ­nimo,Data Inicial,Data Final
0,Bloco 1,645.76,828.5,603.227495,-500.0,1488.0,-500.0,2019-08-06 00:00:00,2019-09-01 00:00:00
1,Bloco 2,338.40,237.0,584.233704,-487.0,1448.0,-487.0,2019-09-01 00:00:00,2019-09-22 00:00:00
2,Bloco 3,507.00,628.0,617.931342,-476.0,1458.0,-476.0,2019-09-22 00:00:00,2019-10-11 00:00:00
3,Bloco 4,406.50,415.5,562.691573,-491.0,1441.0,-491.0,2019-10-11 00:00:00,2019-11-06 00:00:00
4,Bloco 5,604.82,640.5,572.578154,-425.0,1489.0,-425.0,2019-11-06 00:00:00,2019-11-25 00:00:00
5,Bloco 6,556.92,544.5,609.355526,-455.0,1491.0,-455.0,2019-11-25 00:00:00,2019-12-17 00:00:00
6,Bloco 7,567.64,522.0,581.423158,-429.0,1481.0,-429.0,2019-12-17 00:00:00,2020-01-10 00:00:00
7,Bloco 8,568.92,603.5,599.637640,-496.0,1497.0,-496.0,2020-01-10 00:00:00,2020-02-01 00:00:00
8,Bloco 9,461.30,429.5,527.581399,-423.0,1459.0,-423.0,2020-02-01 00:00:00,2020-02-28 00:00:00
9,Bloco 10,487.62,472.5,574.803565,-42.0,1500.0,-415.0,2020-02-28 00:00:00,2020-03-24 00:00:00
10,Bloco 11,512.70,670.0,557.948694,-498.0,1481.0,-498.0,2020-03-24 00:00:00,2020-04-16 00:00:00
11,Bloco 12,329.10,206.5,565.224508,-466.0,1396.0,-466.0,2020-04-16 00:00:00,2020-05-06 00:00:00
12,Bloco 13,491.26,486.5,588.463472,-360.0,1465.0,-488.0,2020-05-06 00:00:00,2020-05-23 00:00:00
13,Bloco 14,635.62,650.5,538.312893,606.0,1497.0,-493.0,2020-05-23 00:00:00,2020-06-11 00:00:00
14,Bloco 15,573.64,596.5,569.110576,-493.0,1490.0,-493.0,2020-06-11 00:00:00,2020-07-07 00:00:00
15,Bloco 16,500.94,539.0,595.208021,-448.0,1429.0,-448.0,2020-07-07 00:00:00,2020-07-29 00:00:00
16,Bloco 17,536.86,608.5,515.366365,-369.0,1455.0,-369.0,2020-07-29 00:00:00,2020-08-18 00:00:00
17,Bloco 18,391.94,251.0,604.154745,-325.0,1493.0,-454.0,2020-08-18 00:00:00,2020-09-05 00:00:00
18,Bloco 19,497.06,389.5,584.064066,153.0,1495.0,-447.0,2020-09-05 00:00:00,2020-10-05 00:00:00
19,Bloco 20,512.92,730.0,576.550999,1371.0,1371.0,-461.0,2020-10-05 00:00:00,2020-10-26 00:00:00
20,Bloco 21,501.00,494.0,597.371658,424.0,1493.0,-486.0,2020-10-26 00:00:00,2020-11-24 00:00:00
21,Bloco 22,491.42,697.0,601.756242,-490.0,1487.0,-490.0,2020-11-24 00:00:00,2020-12-15 00:00:00
22,Bloco 23,468.60,469.0,509.614180,-498.0,1494.0,-498.0,2020-12-15 00:00:00,2021-01-08 00:00:00
23,Bloco 24,571.90,674.5,564.136119,689.0,1467.0,-478.0,2021-01-08 00:00:00,2021-01-28 00:00:00
24,Bloco 25,495.96,392.0,620.993442,-456.0,1500.0,-456.0,2021-01-28 00:00:00,2021-02-18 00:00:00
25,Bloco 26,488.00,506.5,559.113949,-492.0,1439.0,-492.0,2021-02-18 00:00:00,2021-03-11 00:00:00
26,Bloco 27,595.58,623.5,579.087145,225.0,1490.0,-382.0,2021-03-11 00:00:00,2021-04-07 00:00:00
27,Bloco 28,403.42,260.0,597.035058,-487.0,1453.0,-487.0,2021-04-07 00:00:00,2021-04-29 00:00:00
28,Bloco 29,631.46,676.0,552.048401,920.0,1470.0,-497.0,2021-04-29 00:00:00,2021-05-22 00:00:00
29,Bloco 30,519.06,578.0,585.298473,-478.0,1401.0,-478.0,2021-05-22 00:00:00,2021-06-10 00:00:00
30,Bloco 31,540.60,583.5,558.575813,55.0,1481.0,-489.0,2021-06-10 00:00:00,2021-06-28 00:00:00
31,Bloco 32,519.18,585.0,601.347592,-432.0,1470.0,-432.0,2021-06-28 00:00:00,2021-07-16 00:00:00
32,Bloco 33,455.54,330.0,568.565155,238.0,1454.0,-439.0,2021-07-16 00:00:00,2021-08-05 00:00:00
33,Bloco 34,535.84,533.5,577.320106,-468.0,1441.0,-468.0,2021-08-05 00:00:00,2021-09-05 00:00:00
34,Bloco 35,355.12,224.0,618.826297,-495.0,1444.0,-495.0,2021-09-05 00:00:00,2021-10-05 00:00:00
35,Bloco 36,606.38,686.0,591.403998,-459.0,1491.0,-459.0,2021-10-05 00:00:00,2021-10-30 00:00:00
36,Bloco 37,323.08,276.5,562.169734,-25.0,1452.0,-498.0,2021-10-30 00:00:00,2021-11-15 00:00:00