In [99]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [69]:
dados1 = pd.read_csv("dados1.csv")

In [70]:
dados1['data'] = pd.to_datetime(dados1['data'])

In [71]:
dados1['data'].sort_values()

268   2019-08-06
494   2019-08-12
926   2019-08-13
648   2019-08-15
29    2019-08-16
         ...
822          NaT
859          NaT
909          NaT
978          NaT
986          NaT
Name: data, Length: 1000, dtype: datetime64[ns]

In [72]:
dados1.describe()

                id        valor
count  1000.000000   963.000000
mean    500.500000   503.228453
std     288.819436   568.154416
min       1.000000  -500.000000
25%     250.750000    31.000000
50%     500.500000   521.000000
75%     750.250000   966.500000
max    1000.000000  1500.000000

In [73]:
dados1.shape

(1000, 3)

In [74]:
dados1.sort_values('data')

      id       data   valor
268  269 2019-08-06   969.0
494  495 2019-08-12   817.0
926  927 2019-08-13   354.0
648  649 2019-08-15   441.0
29    30 2019-08-16  1488.0
..   ...        ...     ...
822  823        NaT    60.0
859  860        NaT   821.0
909  910        NaT   568.0
978  979        NaT   834.0
986  987        NaT   771.0

[1000 rows x 3 columns]

In [75]:
dados2 = pd.read_csv('dados2.csv')

In [76]:
dados1.isnull().sum()

id        0
data     26
valor    37
dtype: int64

In [77]:
dados1.shape

(1000, 3)

In [78]:
dados = pd.concat([dados1, dados2])

In [82]:
dados['data'] = dados['data'].apply(pd.to_datetime)

In [83]:
dados

       id       data   valor
0       1 2021-11-23   923.0
1       2 2021-02-15   309.0
2       3 2021-05-08   702.0
3       4 2019-09-26  1088.0
4       5 2021-04-06  1022.0
..    ...        ...     ...
995   996 2020-11-26  1242.0
996   997 2020-02-19  -307.0
997   998 2020-01-05   480.0
998   999 2020-03-24   348.0
999  1000 2020-12-03   998.0

[2000 rows x 3 columns]

In [85]:
dados.isnull().sum()

id        0
data     48
valor    80
dtype: int64

In [86]:
dados.dropna(inplace=True)

In [87]:
dados.isnull().sum()

id       0
data     0
valor    0
dtype: int64

In [89]:
dados.shape

(1873, 3)

In [91]:
dados = dados.sort_values('data')

In [114]:
tam_array = int(np.around(dados.shape[0]/50))

In [115]:
medias = np.zeros(tam_array)

In [116]:
medias

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])

In [127]:
dados['valor'].iloc[:50].mean()

645.76

In [136]:
lista_medias = []

In [137]:
for i in range(1, dados.shape[0], 50):
    lista_medias.append(dados['valor'].iloc[:i].mean())

In [140]:
len(lista_medias)

38